body {
    margin:0;
    padding:0;
    font-family: Sans-Serif;
    line-height: 1.5em;
    overflow: hidden;
    overflow-y: scroll;
}

/* #header {
    background: #ccc;
    height: auto;
}

#header h1 {
    margin: 0;
    padding-top: 15px;
} */

main {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 100%;
}

#nav {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 230px;
    margin-left: -100%;
    background: #eee;
}

#footer {
    clear: left;
    width: 100%;
    background: #ccc;
    text-align: center;
    padding: 4px 0;
}

#wrapper {
    overflow: hidden;
}
            
#content {
    margin-left: 230px; /* Same as 'nav' width */
}

.innertube {
    margin: 15px; /* Padding for content */
    height:auto;
    margin-top: 0;
}

p {
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: darkgreen;
    text-decoration: none;
}
#menu ul {
    background: #1F568B;
    list-style-type: none;
    text-align: center;
  }
#menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
}
#menu a {
    text-decoration: none;
    color: #fff;
    display: block;
  }
#menu li:hover {
    background: #0f0f0f;
    color: #333;
}

#menu li {
    position: relative;
}
.sub-menu {
    display: none;
    width:67%;
    position: absolute;
}
#menu li:hover .sub-menu {
    display: block;
}
.sub-menu li {
    margin-left: 0 !important;
   }
.menu{
    height:auto;
}
table {
    /* width: 100%;   */
    width:1400px;      
    border-collapse: collapse;
}
th, td {
    padding: 10px;
   
    border: 1px solid #dee2e6;
}
th {
    width: auto;
    height: 40px;
    text-align: center;
}
body {
    margin:0;}

div {
    padding:10px
}
