table {
  width: 100%;        
  border-collapse: collapse;
}
th, td {
  padding: 8px;
  border: 1px solid #dee2e6;
}
th {
  width: auto;
  height: 40px;
  text-align: center;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e9d8f4;
  position: fixed;
  top: 0;
  position: sticky;
  width: 100%;
}

li {
float: left;
}

li a {
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
color: white;
background-color: #db7093;
font-weight: bold;
}

.active {
background-color: #58257b;
color: white;
font-weight: bold;
}
